* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Additional styles for the tooltip */
.tooltip {
  position: absolute;
  top: 100;
  left: 100;
  z-index: 10;
  /* visibility: hidden; */
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  pointer-events: none;
  max-width: 100px;
}

.x-axis path,
.y-axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000; /* Color of the axis lines */
  stroke-width: 2px; /* Adjust this value to make the lines thicker */
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%; /* Ensure the full viewport height is covered */
}
